{% extends 'base.html.twig' %}

{% block title %}New Recruitment{% endblock %}

{% block body %}
    <h1>Create new Recruitment</h1>

    {{ include('recruitment/_form.html.twig') }}

    <a href="{{ path('app_recruitment_index') }}">back to list</a>
{% endblock %}
